<p id="notice"><%= notice %></p>

<p>
  <b>Title:</b>
  <%= @part.title %>
</p>

<p>
  <b>Body:</b>
  <%= @part.body %>
</p>


<%= link_to 'Edit', edit_part_path(@part) %> |
<%= link_to 'Back', parts_path %>
