<style>
.ui-autocomplete{
  width: 200px;
}
.ui-menu-item{
  color: #33cc00;
  background: #ffcc00;
  margin: 1px;
  padding: 1px 4px;
}
</style>

<%= form_for(@shop) do |f| %>
  <% if @shop.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@shop.errors.count, "error") %> prohibited this shop from being saved:</h2>

      <ul>
      <% @shop.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <%= render :partial => 'shop_fields', :locals =>{:f => f} %>

  <%= f.fields_for :shop_address do |builder| %>
    <%= render 'shop_address_fields', f: builder %>
  <% end %>

  <%= f.fields_for :shop_contact do |builder| %>
    <%= render 'shop_contact_fields', f: builder %>
  <% end %>


 <div class="dashboard_section panel">
  <h3>餐厅菜谱信息</h3>
  <div class="panel_contents">
    <%= f.fields_for :shop_dishes do |builder| %>
      <%= render 'shop_dish_fields', f: builder %>
    <% end %>

    <%= link_to_add_fields "添加菜单", f, :shop_dishes %>
    <span style="padding:0 0 0 20px; color: #ccc;">| 查找菜名：
    <input id="find_dish_nanme" class="dish_name_field ui-autocomplete-input" data-autocomplete-source="/dish_list" id="test_dish_name" size="50" style="width: 60px;" type="text" value="" autocomplete="off" role="textbox" aria-autocomplete="list" aria-haspopup="true">
    (将查到的菜名复制到上面新添加的菜单中)
    </span>

  </div>
 </div>
 
  <div class="actions">
    <%= f.submit '提交更新' %>
  </div>
<% end %>
