 <div class="dashboard_section panel">
  <h3>餐厅联系信息</h3>
  <div class="panel_contents">

<fieldset>
   
  <div class="field">
    <%= f.label :contacter_name, "联系人" %><br />
    <%= f.text_field :contacter_name %>
  </div>
  <div class="field">
    <%= f.label :tel_phone, "电话座机" %><br />
    <%= f.text_field :tel_phone %>
  </div>
  <div class="field">
    <%= f.label :mobile_phone, "手机" %><br />
    <%= f.text_field :mobile_phone %>
  </div>
  <div class="field">
    <%= f.label :qq, "QQ" %><br />
    <%= f.text_field :qq %>
  </div>
<!--   <div class="field">
    <%= f.label :email, "Email" %><br />
    <%= f.text_field :email %>
  </div>
  <div class="field">
    <%= f.label :other, "其他联系方式" %><br />
    <%= f.text_field :other %>
  </div>
  <div class="field">
    <%= f.label :jiaotong, "交通" %><br />
    <%= f.text_field :jiaotong %>
  </div>
  <div class="field">
    <%= f.label :website, "网址" %><br />
    <%= f.text_field :website %>
  </div>
  <div class="field">
    <%= f.label :weibo, "微博" %><br />
    <%= f.text_field :weibo %>
  </div> -->
</fieldset>

  </div>
</div>