<h1>餐厅列表</h1>

<table>
  <tr>
    <th>名称</th>
    <th>标签</th>
    <th>人均</th>
    <th>营业时间</th>   
    <th>评级</th>
  </tr>

<% @shops.each do |shop| %>
  <tr>
    <td><b><%= link_to shop.name, shop %></b></td>
     <td><%= shop.tags %></td>
    <td><%= shop.avg %></td>
    <td><%= shop.biz_time %></td>
    <td><%= shop.rate %></td>
  </tr>
<% end %>
</table>

<br />

<%= will_paginate @shops, :next_label => '下一页', :previous_label => '上一页' %>
