<p id="notice"><%= notice %></p>

<div id="shop_show">
  <h2> <%= @shop.name %> </h2>
  <div class="biz">
    <%= @shop.show_biz_time %>
    <%= @shop.show_avg %>
    <%= @shop.show_has_out_food %>
    <%= @shop.show_is_hot %>
    <%= @shop.show_discount %>
  </div>
  <div class="rate">
    评级：<%= @shop.rate %>
    &nbsp;&nbsp;&nbsp;&nbsp;
    <%= @shop.show_score %>
    &nbsp;&nbsp;&nbsp;&nbsp;
    <%= @shop.show_score_kouwei %>
    &nbsp;&nbsp;&nbsp;&nbsp;
    <%= @shop.show_score_sudu %>
    &nbsp;&nbsp;&nbsp;&nbsp;
    <%= @shop.show_score_fuwu %>
  </div>

  <div class="desc">
    <p>&nbsp;&nbsp;&nbsp;&nbsp;<%= @shop.description %></p>
    <%= @shop.show_shihe %>
    <%= @shop.show_sheshi.html_safe %>
    <%= @shop.show_tags %>
  </div>
</div>

<div id="shop_dish_show">
  <h2>菜谱</h2>
  <ul>
    <% @shop.shop_dishes.each do |shop_dish| %>
        <li class="shop_dish_item"  id = "shop_dish_<%=shop_dish.id%>" data-id ="<%=shop_dish.id %>" data-name="<%=shop_dish.dish.name %>" data-price="<%=shop_dish.price %>">
         <%= link_to add_cart_path(:shop_id => shop_dish.shop.id, :shop_dish_id => shop_dish.id, :name => shop_dish.dish.name, :price=> shop_dish.price), :remote => true do%>
           <span id="shop_dish_count_<%= shop_dish.id%>" class="shop_dish_count">+</span>
           <button_edit><%= shop_dish.dish.name.ljust(30, '一') %> ￥<%= shop_dish.price || 10 %></button_edit>
         <% end %>
        </li>
    <% end %>
  </ul>
</div>