<p id="notice"><%= notice %></p>

<div id="shop_show">
  <h2> <%= @shop.name %> </h2>
  <div class="biz">
    <%= @shop.show_biz_time %>
    <%= @shop.show_avg %>

    <%= @shop.show_has_out_food %>
    <%= @shop.show_is_hot %>
    <%= @shop.show_discount %>
  </div>
  <div class="rate">
    <%= @shop.rate %>
    
    <%= @shop.show_score %>

    <%= @shop.show_score_kouwei %>
 
    <%= @shop.show_score_sudu %>
 
    <%= @shop.show_score_fuwu %>
  </div>

  <div class="desc">
    <%= @shop.show_photo_url.html_safe %>
    <p><%= @shop.description %></p>
    <%= @shop.show_shihe %>
    <%= @shop.show_sheshi.html_safe %>
    <%= @shop.show_tags %>
  </div>
</div>

<div id="shop_dish_show">
  <h2>菜谱</h2>
  <ul>
    <% @shop.shop_dishes.each do |shop_dish| %>
      <li>
        <%= shop_dish.show_dish_name %>
        <%= shop_dish.show_dish_photo.html_safe %>
        <%= shop_dish.show_dish_description %>
        <%= shop_dish.show_dish_price %>
      </li>
    <% end %>
  </ul>
</div>