<div id="shop_show">
  <h2> <%= @shop.name %> </h2>
  <div class="biz">
    <%= @shop.show_biz_time %>
    <%= @shop.show_avg %>
    <%= @shop.show_has_out_food %>
    <%= @shop.show_is_hot %>
    <%= @shop.show_discount %>
  </div>
  <div class="rate">
    评级：<%= @shop.rate %>
    &nbsp;&nbsp;&nbsp;&nbsp;
    <%= @shop.show_score %>
    &nbsp;&nbsp;&nbsp;&nbsp;
    <%= @shop.show_score_kouwei %>
    &nbsp;&nbsp;&nbsp;&nbsp;
    <%= @shop.show_score_sudu %>
    &nbsp;&nbsp;&nbsp;&nbsp;
    <%= @shop.show_score_fuwu %>
  </div>

  <div class="desc">
    <p>&nbsp;&nbsp;&nbsp;&nbsp;<%= @shop.description %></p>
    <%= @shop.show_shihe %>
    <%= @shop.show_sheshi.html_safe %>
    <%= @shop.show_tags %>
  </div>
</div>

<div id="shop_dish_show">
  <h2>菜谱</h2>
  <ul>
  
  </ul>
</div>