<% title ["乐活成都博客", "乐活成都, 外卖博客"].join(' - ') %>
<% meta_keywords ["乐活成都, 外卖博客"].join(' - ') %>
<% meta_description ["乐活成都, 外卖博客"].join(' - ') %>

<div class="list">
  <ul>
    <% @news_items.each_with_index do |item, index| %>
      <li>
        <h3 class="titbg" ><%=link_to item.title, news_item_path(item)%></h3>
        <p><%=  strip_tags(item.body).to_s.gsub(/[ ]+|\s+|\t+|\n+/, '').truncate(200).html_safe %>
        <strong><%=link_to '[阅读详情]↓', news_item_path(item), :target => "_blank"%></strong> <%=item.updated_at.strftime('%Y-%m-%d %H:%M:%S').to_s unless item.updated_at.blank? %></p>
      </li>
    <% end %>
  </ul>
  <%= will_paginate @news_items, :next_label => "下一页", :prev_label => "上一页" %>
</div>
