<% title [@news_cate.name, "乐活成都"].join(' - ') %>
<% meta_keywords ["乐活成都，外卖，在线订餐"].join(' - ') %>
<% meta_description ["happy.cd 乐活成都外卖网，成都外卖订餐领跑者"].join(' - ') %>

<div class="list">
  <h3 class="titlbg"><%=@news_cate.name %></h3>

  <ul>
    <% @news_items.each_with_index do |item, index| %>
      <li>
        <h3 class="titbg" ><%=link_to item.title, news_item_path(item)%></h3>
        <p><%=  strip_tags(item.body).to_s.gsub(/[ ]+|\s+|\t+|\n+/, '').truncate(200).html_safe%>
        <strong><%=link_to '[阅读详情]↓', news_item_path(item)%></strong> <%=item.updated_at.strftime('%Y-%m-%d %H:%M:%S').to_s unless item.updated_at.blank? %></p>
      </li>
    <% end %>
  </ul>
</div>
<%= will_paginate @news_items %>