<h1>Listing order_details</h1>

<table>
  <tr>
    <th>Order</th>
    <th>Shop dish</th>
    <th>Amount</th>
    <th>Discount</th>
    <th>Total price</th>
    <th>Admin note</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @order_details.each do |order_detail| %>
  <tr>
    <td><%= order_detail.order %></td>
    <td><%= order_detail.shop_dish %></td>
    <td><%= order_detail.amount %></td>
    <td><%= order_detail.discount %></td>
    <td><%= order_detail.total_price %></td>
    <td><%= order_detail.admin_note %></td>
    <td><%= link_to 'Show', order_detail %></td>
    <td><%= link_to 'Edit', edit_order_detail_path(order_detail) %></td>
    <td><%= link_to 'Destroy', order_detail, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Order detail', new_order_detail_path %>
