<%= form_for(@shop_address) do |f| %>
  <% if @shop_address.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@shop_address.errors.count, "error") %> prohibited this shop_address from being saved:</h2>

      <ul>
      <% @shop_address.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :shop %><br />
    <%= f.text_field :shop %>
  </div>
  <div class="field">
    <%= f.label :zone %><br />
    <%= f.text_field :zone %>
  </div>
  <div class="field">
    <%= f.label :region %><br />
    <%= f.text_field :region %>
  </div>
  <div class="field">
    <%= f.label :city %><br />
    <%= f.text_field :city %>
  </div>
  <div class="field">
    <%= f.label :district %><br />
    <%= f.text_field :district %>
  </div>
  <div class="field">
    <%= f.label :addr %><br />
    <%= f.text_field :addr %>
  </div>
  <div class="field">
    <%= f.label :zip %><br />
    <%= f.text_field :zip %>
  </div>
  <div class="field">
    <%= f.label :latitude %><br />
    <%= f.text_field :latitude %>
  </div>
  <div class="field">
    <%= f.label :longitude %><br />
    <%= f.text_field :longitude %>
  </div>
  <div class="field">
    <%= f.label :is_geocoded %><br />
    <%= f.check_box :is_geocoded %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
