<h1>Listing resource_cates</h1>

<table>
  <tr>
    <th>Name</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @resource_cates.each do |resource_cate| %>
  <tr>
    <td><%= resource_cate.name %></td>
    <td><%= link_to 'Show', resource_cate %></td>
    <td><%= link_to 'Edit', edit_resource_cate_path(resource_cate) %></td>
    <td><%= link_to 'Destroy', resource_cate, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Resource cate', new_resource_cate_path %>
