<script type="text/javascript">
  function initialize() {
    //--create map 
    var myLatlng = new google.maps.LatLng(<%=session[:location_point][0]%>, <%=session[:location_point][1]%>);
    var myOptions = {
      zoom: 17,
      center: myLatlng,
      mapTypeId: google.maps.MapTypeId.ROADMAP
    }
    var map = new google.maps.Map(document.getElementById("user_location_map_canvas"), myOptions);

    //add user marker
    var marker = new google.maps.Marker({
        position: myLatlng,
        title:"您所在的区域",
        icon: 'http://google-maps-icons.googlecode.com/files/walking-tour.png',
        draggable: true
    });
    //To add the marker to the map, call setMap();
    marker.setMap(map);

    //add shops markers
    <% shop_addresses = []
       shop_addresses += @has_out_food_shop_addresses unless @has_out_food_shop_addresses.nil? 
       shop_addresses += @no_out_food_shop_addresses unless @no_out_food_shop_addresses.nil? 
    %>
    <% shop_addresses.each_with_index do |sd, index| %>
      var marker_<%=index%> = new google.maps.Marker({
        position: new google.maps.LatLng(<%= sd.latitude%>, <%= sd.longitude %>),
        title: '<%= sd.shop.name %>'
      })
      marker_<%=index%>.setMap(map);
    <% end %>
  }//end initialize

  google.maps.event.addDomListener(window, 'load', initialize);

</script>

<div id="user_location_map_canvas" style="width:99%; height:200px"></div>
