<div id="shop_addresses">
  <% @shop_addresses.each_with_index do |shop_address, index| %>
    <% shop = shop_address.shop %>
    <% shop_dishes = shop.shop_dishes %>
    <div class="shop" id="shop_<%=shop.id%>">
      <table><tr>
        <td width="100px">
          <p><%= shop.show_photo %></p>
        </td>
        <td align="left" valign="top" width="300px">
          <h3><%=link_to shop.name, shop %></h3>
          <%= shop.show_rate %>
          <%=shop.show_biz_time%>
          <%=shop.show_address%>
        </td>
        <td align="right" valign="top">
          <% if shop.has_out_food %>
            <%= shop.show_has_out_food %>
            <%= shop.show_start_price%>
            <%= shop.show_outer_price%>
            <%= shop.show_is_hot %>
            <%= shop.show_is_discount %>
          <% else %>
            <%= shop.show_has_out_food %>
            <%= shop.show_contact_phone %>
          <% end %>
          <%= link_to_if user_signed_in?, '编辑', edit_shop_path(shop) %>
        </td>
      </tr><tr>
        <td colspan="3">
          <%=shop.show_description %>
        </td>
      </tr></table>

     <!--菜单-->
     <% if shop_dishes.any? %>
      <div class="meun0">
        <div class="title_menu"><span class="ico_me">菜单</span></div>
        <div class="shop_dish_panel2">
          <ul>
            <% shop_dishes.each_with_index do |shop_dish, i| %>
              <% next if (shop = shop_dish.shop).nil? || (dish = shop_dish.dish).nil? %>
              <li class="normal"  id = "shop_dish_<%=shop_dish.id%>" data-id ="<%=shop_dish.id %>" data-name="<%=dish.name %>" data-price="<%=shop_dish.price %>">

               <%= link_to add_cart_path(:shop_id => shop.id, :shop_dish_id => shop_dish.id, :name => dish.name, :price=> shop_dish.price), :remote => true do%>
                 <div class="din1" id="shop_dish_count_<%= shop_dish.id%>">+</div>
                 <div class="din2"><%= dish.name %> </div>
                 <div class="sale">￥<%= shop_dish.price || 10 %></div>
               <% end %>
              </li>
            <% end %>        
          </ul>
        </div>
      </div>
      <% end %>
      <!--end菜单-->

    </div>
  <% end %>
  <%= will_paginate @shop_addresses, :next_label => '>>', :prev_label => '<<' %>
</div>
