<div id ='shop_addresses'>
    <ul>
    <% @shop_addresses.each_with_index do |shop_address, index| %>
      <% shop = shop_address.shop %>
      <% shop_dishes = shop.shop_dishes %>
      <li>
        <div class="shop_title">
          <h3><%= link_to shop.name, shop %></h3>
        </div>
        <div class="shop_addr">
          <span style="color:green;"><%= shop_address.addr  %> <%= format("%.1f", (shop_address.distance.round(4) * 1000)) %> 米</span>
        </div>
        <div class="actions">
          <span class="biz_time">营业时间：<%=shop.biz_time%> </span>
          <span class="has_out_food"><%= has_out_food(shop) %></span>
          <span class="is_hot"><%= is_hot(shop) %></span>
          <span class="is_hot"><%= is_discount(shop) %></span>
          <span class="rate"><%= rate(shop) %></span>
        </div>

        <div class="dishes">
          <ul id="shop_dish_list">
            <% shop_dishes.each_with_index do |shop_dish, i| %>
              <li class="shop_dish_item"  id = "shop_dish_<%=shop_dish.id%>" data-id ="<%=shop_dish.id %>" data-name="<%=shop_dish.dish.name %>" data-price="<%=shop_dish.price %>">
              
              <span id="shop_dish_count_<%= shop_dish.id%>" class="shop_dish_count">&nbsp;</span>

              <%= link_to add_cart_path(:shop_id => shop_dish.shop.id, :shop_dish_id => shop_dish.id, :name => shop_dish.dish.name, :price=> shop_dish.price), :remote => true do%><button_edit><%= shop_dish.dish.name.ljust(30, '一') %> ￥<%= shop_dish.price || 10 %></button_edit><% end %>
              </li>
            <% end %>
          </ul>
        </div>
      </li>
    <% end %>
    </ul>
  </div>
  <%= will_paginate @shop_addresses %>