<div id="shop_addresses">
  <% @shop_addresses.each_with_index do |shop_address, index| %>
    <% shop = shop_address.shop %>
    <% shop_dishes = shop.shop_dishes %>
    <div class="shop" id="shop_<%=shop.id%>">
      <table style="width: 100%;">
       <tbody>
       <tr>
        <td width="100px">
          <%= shop.show_photo %>&nbsp;
        </td>
        <td align="left" valign="top" width="300px">
          <h3><%=shop.name %></h3>
          <%= shop.show_rate %>
          <%=shop.show_biz_or_outer_time%>
          <%=shop.show_address%>
        </td>
        <td align="right" valign="top">
          <% if shop.has_out_food %>
            <table border="0"><tr><td width="120px" align="left">
            <%= shop.show_has_out_food %>
            <%= shop.show_start_price%>
            <%= shop.show_outer_price%>
            </td><td align="right">
            <%= shop.show_take_out_status %>
            <%= shop.show_is_hot %>
            <%= shop.show_is_discount %>
            </td></tr></table>
          <% else %>
            <%= shop.show_has_out_food %>
            <%= shop.show_contact_phone %>
          <% end %>
          <%# link_to_if user_signed_in?, '编辑', edit_shop_path(shop) %>
        </td>
      </tr><tr>
        <td colspan="3">
          <%=shop.show_description %>
        </td>
      </tr></tbody></table>

     <!--菜单-->
     <% if shop_dishes.any? %>
      <div class="meun0">
        <div class="shop_dish_panel_menu"><a class="shop_dish_panel_menu_a" id="shop_dish_panel_menu_<%=shop.id%>" href="javascript:void(0);"><span class="ico_me">查看菜单</span></a></div>
        <div id="shop_dish_panel_<%=shop.id%>" class="shop_dish_panel2">
          <ul>
            <% shop_dishes.each_with_index do |shop_dish, i| %>
              <% next if (shop = shop_dish.shop).nil? || (dish = shop_dish.dish).nil? %>
              <li class="normal"  id = "shop_dish_<%=shop_dish.id%>" data-id ="<%=shop_dish.id %>" data-name="<%=dish.name %>" data-price="<%=shop_dish.price %>">

              <% if shop.is_contacted && shop.has_out_food && !shop_dish.price.blank? %>
               <%= link_to add_cart_path(:shop_id => shop.id, :shop_dish_id => shop_dish.id, :name => dish.name, :price=> shop_dish.price), :remote => true do%>
                 <div class="din1" id="shop_dish_count_<%= shop_dish.id%>">+</div>
                 <div class="din2"><%= dish.name %></div>
                 <div class="sale"><%= shop_dish.show_dish_price  %></div>
               <% end %>
              <% else %>
                <%= link_to "javascript:toggle_dish_notice('dish_notice_#{shop_dish.id}');" do %>
                  <div class="din1" id="shop_dish_count_<%= shop_dish.id%>">+</div>
                  <div class="din2"><%= dish.name %><span class="dish_notice" id="dish_notice_<%= shop_dish.id %>"></span></div>
                  <div class="sale"><%= shop_dish.show_dish_price %></div>
                <% end %>
              <% end %>
              </li>
            <% end %>        
          </ul>
        </div>
      </div>
      <% end %>
      <!--end菜单-->

    </div>
  <% end %>
    <%= will_paginate @shop_addresses, :next_label => '>>', :prev_label => '<<', :page_links => false%>
</div>
