<html><head>
<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.5.1/jquery.min.js"></script>
<script type="text/javascript" src="/assets/jquery.tokeninput.js"></script>
<script type="text/javascript" src="/assets/welcome.js"></script>
<link rel="stylesheet" type="text/css" href="/assets/token-input.css" />

 <%= stylesheet_link_tag    "application" %>
 <%= csrf_meta_tags %>
</head>

<body>
 <div class="search_container">
    <%= form_for(@shop, :url => '/') do |f| %>
      <% if @shop.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(@shop.errors.count, "error") %> prohibited this shop from being saved:</h2>

          <ul>
          <% @shop.errors.full_messages.each do |msg| %>
            <li><%= msg %></li>
          <% end %>
          </ul>
        </div>
      <% end %>

      <div class="field">
        <%= f.text_field :address_tokens, data: {load: @shop.shop_address} %><br/><br/>
      </div>
      <div class="submit">
        <%= f.submit '找外卖' %>
      </div>
    <% end %>
 </div>

 <%=render :file => 'welcome/baidu_map_point_picker.html' %>
</body>
</html>