<script>
    $(document).ready(function(){
      $("#edit_order").validate();
    });
</script>

<%= form_for(@order, :html=>{:class=> 'formtastic', :id => 'edit_order'}) do |f| %>
  <% if @order.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@order.errors.count, "error") %> prohibited this order from being saved:</h2>

      <ul>
      <% @order.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :phone, "您的手机号, 我们会通过该电话联系您" %><br />
    <%= f.text_field :phone, :class=> 'required mobile' %>
  </div>
  <div class="field">
    <%= f.label :addr, "详细地址, 请尽可能详细填写，方便外卖准确送达" %><br />
    <%= f.text_field :addr, :class => 'required' %>
  </div>
  <div class="field">
    <%= f.label :addr, "希望送达时间, 给餐厅合理的备餐时间，一般在半个小时以上" %><br />
    <%= f.datetime_select :require_deliver_time, :default => 30.minutes.from_now %> 
  </div>
  <div class="field">
    <%= f.label :user_note, "其他说明" %><br />
    <%= f.text_field :user_note %>
    <p>如果菜品有大份/小份选择，请在这里注明。添加上您的姓氏和称谓会更便于餐厅联系</p>
  </div>

  <fieldset class="buttons">
    <ol>
      <li class="commit"><input class="create" name="commit" type="submit" value="确定订单，提交"></li>
      <li class="cancel"><a href="/clear_cart">取消</a></li>
    </ol>
  </fieldset>
<% end %>
