<%= form_for(@page) do |f| %>
  <% if @page.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@page.errors.count, "error") %> prohibited this page from being saved:</h2>

      <ul>
      <% @page.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :title %><br />
    <%= f.text_field :title %>
  </div>
  <div class="field">
    <%= f.label :body %><br />
    <%= f.text_area :body %>
  </div>
  <div class="field">
    <%= f.label :parent_id %><br />
    <%= f.number_field :parent_id %>
  </div>
  <div class="field">
    <%= f.label :position %><br />
    <%= f.number_field :position %>
  </div>
  <div class="field">
    <%= f.label :path_name %><br />
    <%= f.text_field :path_name %>
  </div>
  <div class="field">
    <%= f.label :meta_keywords %><br />
    <%= f.text_field :meta_keywords %>
  </div>
  <div class="field">
    <%= f.label :meta_description %><br />
    <%= f.text_field :meta_description %>
  </div>

  <div class="field">
    <%= f.label :menu_match %><br />
    <%= f.text_field :menu_match %>
  </div>
  <div class="field">
    <%= f.label :show_in_menu %><br />
    <%= f.number_field :show_in_menu %>
  </div>
  <div class="field">
    <%= f.label :deletable %><br />
    <%= f.number_field :deletable %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
