<% title ["乐活成都博客", "乐活成都, 外卖博客"].join(' - ') %>
<% meta_keywords ["乐活成都, 外卖博客"].join(' - ') %>
<% meta_description ["乐活成都, 外卖博客"].join(' - ') %>


<% @news_items.each do |item| %>
  <table>
  <tbody>
    <tr><td colspan="2"><h2 class="news_title"><%=link_to item.title, news_item_path(item)%></h2></td></tr>
    <tr>
      <td>&nbsp;<%= image_tag(item.image_path.blank? ? asset_path("food/#{rand(20)}.jpg") : item.image_path, :width => '200px') %></td>
      <td><div class="news_summary">&nbsp;&nbsp;&nbsp;&nbsp;<%=  strip_tags(item.body).to_s.gsub(/[ ]+|\s+|\t+|\n+/, '').truncate(180).html_safe %></div><%=link_to "展开>>>", news_item_path(item)%>
      </td>
    </tr>
  </tbody>
</table>
<br/>
<% end %>
<%= will_paginate @news_items, :next_label => "下一页", :prev_label => "上一页" %>