<p id="notice"><%= notice %></p>

<p>
  <b>Shop:</b>
  <%= @shop_version.shop %>
</p>

<p>
  <b>Contacter name:</b>
  <%= @shop_version.contacter_name %>
</p>

<p>
  <b>Tel phone:</b>
  <%= @shop_version.tel_phone %>
</p>

<p>
  <b>Mobile phone:</b>
  <%= @shop_version.mobile_phone %>
</p>

<p>
  <b>Email:</b>
  <%= @shop_version.email %>
</p>

<p>
  <b>Qq:</b>
  <%= @shop_version.qq %>
</p>

<p>
  <b>Name:</b>
  <%= @shop_version.name %>
</p>

<p>
  <b>Description:</b>
  <%= @shop_version.description %>
</p>

<p>
  <b>Shop note:</b>
  <%= @shop_version.shop_note %>
</p>

<p>
  <b>Biz time:</b>
  <%= @shop_version.biz_time %>
</p>

<p>
  <b>Photo url:</b>
  <%= @shop_version.photo_url %>
</p>

<p>
  <b>Has out food:</b>
  <%= @shop_version.has_out_food %>
</p>

<p>
  <b>Has out people:</b>
  <%= @shop_version.has_out_people %>
</p>

<p>
  <b>Start price:</b>
  <%= @shop_version.start_price %>
</p>

<p>
  <b>Outer time:</b>
  <%= @shop_version.outer_time %>
</p>

<p>
  <b>District:</b>
  <%= @shop_version.district %>
</p>

<p>
  <b>Addr:</b>
  <%= @shop_version.addr %>
</p>

<p>
  <b>Latitude:</b>
  <%= @shop_version.latitude %>
</p>

<p>
  <b>Longitude:</b>
  <%= @shop_version.longitude %>
</p>

<p>
  <b>Is checked:</b>
  <%= @shop_version.is_checked %>
</p>

<p>
  <b>Is merged:</b>
  <%= @shop_version.is_merged %>
</p>


<%= link_to 'Edit', edit_shop_version_path(@shop_version) %> |
<%= link_to 'Back', shop_versions_path %>
