<p id="notice"><%= notice %></p>

<p>
  <b>Shop:</b>
  <%= @shop_contact.shop %>
</p>

<p>
  <b>Contacter name:</b>
  <%= @shop_contact.contacter_name %>
</p>

<p>
  <b>Tel phone:</b>
  <%= @shop_contact.tel_phone %>
</p>

<p>
  <b>Mobile phone:</b>
  <%= @shop_contact.mobile_phone %>
</p>

<p>
  <b>Qq:</b>
  <%= @shop_contact.qq %>
</p>

<p>
  <b>Email:</b>
  <%= @shop_contact.email %>
</p>

<p>
  <b>Other:</b>
  <%= @shop_contact.other %>
</p>

<p>
  <b>Jiaotong:</b>
  <%= @shop_contact.jiaotong %>
</p>

<p>
  <b>Website:</b>
  <%= @shop_contact.website %>
</p>

<p>
  <b>Weibo:</b>
  <%= @shop_contact.weibo %>
</p>


<%= link_to 'Edit', edit_shop_contact_path(@shop_contact) %> |
<%= link_to 'Back', shop_contacts_path %>
