<% title "乐活外卖.成都" %>
<% meta_keywords "成都外卖, 成都快餐, 网上订餐, 电话订餐, 餐厅,美食, 24小时外卖" %>
<% meta_description "网上订餐洋盘吧~ 想叫外卖了？就上乐活外卖。1分钟订餐，半小时等待，3000家餐厅，上万道美食，Happy!" %>

<script language = "javascript">
   jQuery(function() {
    return $('#address_addr').autocomplete({
      source: $('#address_addr').data('autocomplete-source'),
      minLength: 2,
      autoFocus: true,
      delay: 300
    });
  });
</script>

<div id="addr_form">
  <%  @address ||= Address.new %>
  <%= form_for(@address, :html =>{:class => ""}) do |f| %>
      <%#hidden latitude/longitude input used to pop modal map, and user choose correct point%>
      <%= f.hidden_field :latitude %>
      <%= f.hidden_field :longitude %>
      <%= f.text_field :addr, data: {autocomplete_source: addresses_path}, :value => '   输入您所在的地址', :class => 'input_search_txt' %>
      <%= f.submit '  找外卖  ', :id => 'submit', :class => 'subit'%>
  <% end %>
</div>

 <!-- modal content -->
  <div id='confirm'>
    <div class='header'><span>位置确认</span></div>
    <div class='message'>
    <div id ='map_wrapper'></div>
    </div>
    <div class='buttons'>
      <div class='no simplemodal-close'>取消</div><div class='yes'>确定</div>
    </div>
  </div>
  <!-- preload the images -->
  <div style='display:none'>
    <img src='/assets/confirm/header.gif' alt='' />
    <img src='/assets/confirm/button.gif' alt='' />
  </div>

<script type="text/javascript">
  var map;
  var marker;  
  var lat = <%= session[:location_point].nil? ? 30.6580500 : session[:location_point][0]%>
  var lng = <%= session[:location_point].nil? ? 104.0659670 : session[:location_point][-1]%>
  
  //
  //google.maps.event.addDomListener(window, 'load', initialize_map);
  function initialize_point(){
    //get form addr's point
    var addr_name = $('#address_addr').val()
    if(addr_name != ''){
      $.getJSON("/get_address_by_name", {addr: addr_name}, function(data) {
         $.each(data, function(i, item){
           if(i==0){ lat = item;};
           if(i==1){ lng = item;};
         });
      });
    };
    setTimeout('initialize_map()', 2000);
  }
  //============function list===========================================================================
  //=============================================initialize map
  function initialize_map() {
    //--create map 
    var myLatlng = new google.maps.LatLng(lat, lng);
    var myOptions = {
      zoom: 16,
      center: myLatlng,
      mapTypeId: google.maps.MapTypeId.ROADMAP
    }
    map = new google.maps.Map(document.getElementById("map_wrapper"), myOptions);

    //add marker
    marker = new google.maps.Marker({
        position: myLatlng,
        title: "我在这里",
        icon: 'http://google-maps-icons.googlecode.com/files/walking-tour.png',
        draggable: true
    });
    //To add the marker to the map, call setMap();
    marker.setMap(map);

    //place marker
    google.maps.event.addListener(map, 'click', function(event) {  
      placeMarker(event.latLng);  
    }); 
    google.maps.event.addListener(map, 'drag', function(event) {  
      placeMarker(event.latLng);  
    });
    google.maps.event.addListener(map, 'dragend', function(event) {  
      placeMarker(event.latLng);  
    });  
    //
    google.maps.event.trigger(map, 'resize');
    map.setZoom(map.getZoom());
    //assign point value
    $('#address_latitude').val(lat);
    $('#address_longitude').val(lng);
  }//end initialize

  //=================================================placeMarker
  function placeMarker(location) {
    marker.setMap(null);
    var clickedLocation = new google.maps.LatLng(location);  
    marker = new google.maps.Marker({  
        position: location,
        map: map,
        icon: 'http://google-maps-icons.googlecode.com/files/walking-tour.png',
        draggable: true
    });  
    map.setCenter(location);  

    //assign point value
    $('#address_latitude').val(location.lat());
    $('#address_longitude').val(location.lng());
  }//end placeMarker

</script>