<!DOCTYPE html> 
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <meta http-equiv="Content-Language" content="zh-cn" />
  <meta name="robots" content="all" />
  <meta name="author" content="inruby" />
  <meta name="Copyright" content="Inruby Lcd, All Rights Reserved." />
  <title><%= yield(:title) %> </title>
  <meta name="keywords" content="<%= yield(:meta_keywords)%>" />
  <meta name="description" content="<%= yield(:meta_description)%>" />
  
  <!--script type="text/javascript" src="http://maps.googleapis.com/maps/api/js?key=AIzaSyBwlID2_M1tLwHYLZn5Xqdw_qFLlOOrMNY&sensor=false"> </script -->
  <%= stylesheet_link_tag    "application" %>
  <%= javascript_include_tag "application" %>
  <script type="text/javascript" src="http://ditu.google.cn/maps/api/js?libraries=places&sensor=false&language=zh&region=CN"></script>
  <%= csrf_meta_tags %>
  
  <!--[if lt IE 7]>
    <link href="/assets/ie_style.css" rel="stylesheet" type="text/css" />
  <![endif]-->
  <!--[if IE 6]>
    <script src="js/iepng.js" type="text/javascript"></script>
    <script type="text/javascript">
       EvPNG.fix('img,.logo a,.wanmh,.shou_ca a,.ico_me,.currt,.din3,.sinaweibo,.txweibo,.carlst li'); 
    </script>
  <![endif]-->
  <script language="javascript">

  </script>
</head> 
 
<body class="index admin_contacts logged_in" screen_capture_injected="true">

<div id="wrapper">
  <%=render :partial => "layouts/header" %>
  <%=render :partial => "layouts/flashes" %>
  <%#render :partial => "layouts/title_bar" %>
  <%= yield(:title_bar) %>
  <div id="active_admin_content" class="with_sidebar">
    <div id="main_content_wrapper">
      <div id="main_content">
        <%= yield %>
      </div>
    </div>
    <div id="sidebar">
      <%=render :partial => "layouts/sidebar" %>
    </div>
  </div>

  <%=render :partial => "layouts/footer" %>
</div>

</body>
</html>