<!DOCTYPE html> 
<html> 
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <meta http-equiv="Content-Language" content="zh-cn" />
  <meta name="robots" content="all" />
  <meta name="author" content="inruby" />
  <meta name="Copyright" content="Inruby Lcd, All Rights Reserved." />
  <title><%= yield(:title) %> </title>
  <meta name="keywords" content="<%= yield(:meta_keywords)%>" />
  <meta name="description" content="<%= yield(:meta_description)%>" />
    
  <%= stylesheet_link_tag    "application" %>
  <%= javascript_include_tag "jquery", "jquery-ui", "addresses" %>

  <%= csrf_meta_tags %>
  <!--[if lt IE 7]>
    <link href="/assets/ie_style.css" rel="stylesheet" type="text/css" />
  <![endif]-->
</head> 
 
<body class="index admin_contacts logged_in" screen_capture_injected="true">

<div id="header">
  <h1 id="site_title"><a href="http://localhost:3000/">可口可餐</a></h1>
</div>

<div id="wrapper">
  <div id="active_admin_content" class="with_sidebar">
    <%=render :partial => "layouts/flashes" %>
    <%= yield %>
  </div>
  <%=render :partial => "layouts/footer" %>
</div>
</body>
</html>