<!DOCTYPE html> 
<html> 
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <meta http-equiv="Content-Language" content="zh-cn" />
  <meta name="robots" content="all" />
  <meta name="author" content="happy.cd" />
  <meta name="Copyright" content="happy.cd Lcd, All Rights Reserved." />
  <title><%= yield(:title) %> </title>
  <meta name="keywords" content="<%= yield(:meta_keywords)%>" />
  <meta name="description" content="<%= yield(:meta_description)%>" />
    
  <%= stylesheet_link_tag  "content", "index_style" %>
  <%= javascript_include_tag "jquery", "jquery-ui", "jquery.sliders", "jquery.simplemodal", "addresses", "index_script" %>
  <script type="text/javascript" src="http://ditu.google.cn/maps/api/js?libraries=places&sensor=false&language=zh&region=CN"></script>
  <%= csrf_meta_tags %>
  <!--[if lt IE 7]>
    <script src="/assets/iepng.js" type="text/javascript"></script>
    <script type="text/javascript">
       EvPNG.fix('img,#navigation,.input_search_txt,.subit'); 
    </script>
  <![endif]-->
</head> 

<body>
 <div class="index_flash"><%=render :partial => "layouts/flashes" %></div>
 <!-- Top navigation on top of the images current on here-->
<div id="nav-outer">
  <div id="navigation">
    <div id="search">
      <%= yield %>
    </div>
  </div>
</div>


<div id="header">
  <!-- jQuery handles to place the header background images -->
  <div id="headerimgs">
    <div id="headerimg1" class="headerimg"></div>
    <div id="headerimg2" class="headerimg"></div>
  </div>
  <!-- Top navigation on top of the images original on there-->

  <!-- Slideshow controls -->
  <div id="headernav-outer">
    <div id="headernav">
      <div id="back" class="btn"></div>
      <div id="control" class="btn"></div>
      <div id="next" class="btn"></div>
    </div>
  </div>
  <!-- jQuery handles for the text displayed on top of the images -->
  <div id="headertxt">
    <p class="caption">
      <span id="firstline"></span>
      <a href="#" id="secondline"></a>
    </p>
    <p class="pictured">
      Pictured:
      <a href="#" id="pictureduri"></a>
    </p>
  </div>
</div>

 <!-- Top navigation on top of the images current on here-->
<div id="content">
  <div><p style="color: #090; font-size: 2em; line-height: 20px; padding: 10px 0;"><a href="javascript: void(0);" id="content_a">第一次访问? 了解更多>>></a></p></div>
  <div id="index2_content">
    <p style="color: #cc3333; font-size: 2em; font-weight: 700; font-family: "黑体"; line-height: 20px; padding: 10px 0;">洋盘吧， 成都也可以在线订外卖了~ 你试过没？</p>
    <p style="color: #090; font-size: 2em; line-height: 20px; padding: 10px 0;">想叫外卖了？就上成都乐活， happy.cd</p>
    <p style="font-weight: 600;">1分钟订餐，半小时等待，3000家餐厅，上万道美食!</p>
    <p>乐活外卖基于地理位置, 为您呈现您所在区域的餐厅和外卖信息。 您可以直接通过网络订餐，订餐成功后，外卖会在30分钟--1个小时之内及时送达！您所需的操作只有三步："确定您所在的区域" ---> "点菜" ---> "留下电话和地址，下单！" .</p>
    <p>如果您没有找到喜欢的餐厅及菜肴，请过一段时间再光临本网站，餐厅和菜肴持续增加中，希望下一次您能够找到喜欢的美食！<br/>
     如果您想尽快看到，请<a href="/contacts/new">点这里</a>催促一下我们。  </p>
    <p><img src="/assets/how.png" width="824" height="280" alt="如何订餐"></p>
    <p>&nbsp;</p>
  </div>
</div>

 <!--footer-- >
  <%=render :partial => "layouts/footer" %>
</body>
</html>